<ul id="sidebar">
    <li class="sidebarButton" onclick="window.location = '/consulta-de-tarefas'">
        <mat-icon fontIcon="task_alt"></mat-icon>
        <a>Consulta de Tarefas</a>
    </li>
    <hr style="width: 80%; color:#1D1D1D">
    <li class="sidebarButton" onclick="window.location = '/consumidores'">
        <mat-icon fontIcon="groups"></mat-icon>
        <a>Consumidor</a>
    </li>
    <li class="sidebarButton" onclick="window.location = '/colaboradores'">
        <mat-icon fontIcon="badge"></mat-icon>
        <a>Colaborador</a>
    </li>
    <li class="sidebarButton" onclick="window.location = '/plantios'">
        <span class="material-symbols-outlined">
            potted_plant
        </span>
        <a>Plantio</a>
    </li>
    <li class="sidebarButton" onclick="window.location = '/plantas'">
        <span class="material-symbols-outlined">
            nest_eco_leaf
        </span>
        <a>Plantas</a>
    </li>
    <li class="sidebarButton" onclick="window.location = '/irrigacoes'">
        <span class="material-symbols-outlined">
            sprinkler
        </span>
        <a>Irrigação</a>
    </li>
    <li class="sidebarButton" onclick="window.location = '/colheitas'">
        <mat-icon fontIcon="agriculture"></mat-icon>
        <a>Colheita</a>
    </li>
    <li class="sidebarButton" onclick="window.location = '/distribuicoes'">
        <mat-icon fontIcon="storefront"></mat-icon>
        <a>Distribuição</a>
    </li>
</ul>
