<section id="cadastro">
    <h2 id="titulo">Cadastro de Época de Irrigação</h2>
    
    <form id="form" [formGroup]="formCadastro" (ngSubmit)="cadastrar()">
        <div class="form-row">
            <div class="form-field" style="width: 50%">
                <label for="planta">Planta</label>
                <input type="text" formControlName="planta" required>
            </div>
            
            <div class="form-field">
                <label for="inicio">Início</label>
                <input type="time" formControlName="inicio" required>
            </div>
            
            <div class="form-field">
                <label for="fim">Fim</label>
                <input type="time" formControlName="fim" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-field">
                <label for="encarregado">Encarregado</label>
                <input type="text" formControlName="encarregado" required>
            </div>
            
            <div class="button-field">
                <input type="submit" value="Cadastrar">
                
            </div>
        </div>
    </form>
    
    <div id="tableView">
        <div id="listingFunctions">
            <button class="iconButton"><mat-icon fontIcon="filter_alt"></mat-icon></button>
            <button class="iconButton"><mat-icon fontIcon="sort_by_alpha"></mat-icon></button>
        </div>
        
        <div id="table">
            <div id="tableHeaderRow">
                <div class="tableCell">Planta</div>
                <div class="tableCell">Encarregado</div>
                <div class="tableCell">Inicio</div>
                <div class="tableCell">Fim</div>
                <div class="tableCellButton"></div>
                <div class="tableCellButton"></div>
            </div>
            <div *ngFor="let consumer of consumers" style="height: 20%" class="tableRow">
                <div class="tableCell">{{consumer.planta}}</div>
                <div class="tableCell">{{consumer.encarregado}}</div>
                <div class="tableCell">{{consumer.inicio}}</div>
                <div class="tableCell">{{consumer.fim}}</div>
                <div class="tableCellButton"><button (click)="edit(consumer.id)" class="iconButton"><mat-icon fontIcon="edit" style="font-size: 26px !important"></mat-icon></button></div>
                <div class="tableCellButton"><button (click)="delete(consumer.id)" class="iconButton"><mat-icon fontIcon="delete" style="font-size: 26px !important"></mat-icon></button></div>
            </div>
        </div>
    </div>
</section>