<section id="cadastro">
    <h2 id="titulo">Consulta de Tarefas</h2>
    
    <form id="form" [formGroup]="formCadastro" (ngSubmit)="cadastrar()">
        <div class="form-row">
            <div class="form-field">
                <label for="nome">Nome</label>
                <input type="text" formControlName="nome" required>
            </div>
            <div class="form-field">
                <label for="bairro">Bairro</label>
                <input type="text" formControlName="bairro" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-field">
                <label for="ocupacao">Ocupação</label>
                <div style="width:100%; height: 41%; display:flex;">
                    <select formControlName="ocupacao" required>
                        <option value="Plantação">Plantação</option>
                        <option value="Irrigação">Irrigação</option>
                        <option value="Colheita">Colheita</option>
                        <option value="Distribuição">Distribuição</option>
                    </select>
                </div>
            </div>
            
            <div class="button-field">
                <input type="submit" value="Cadastrar">
                
            </div>
        </div>
    </form>
    
    <div id="tableView">
        <div id="listingFunctions">
            <button class="iconButton" (click)="sortByAlpha()"><mat-icon fontIcon="sort_by_alpha" [ngStyle]="{'color': (!sorted) ? 'white' : '#BB86FC'}"></mat-icon></button>
        </div>
        
        <div id="table">
            <div id="tableHeaderRow">
                <div class="tableCell">Nome</div>
                <div class="tableCell">Bairro</div>
                <div class="tableCell">Ocupação</div>
                <div class="tableCellButton"></div>
                <div class="tableCellButton"></div>
            </div>
            <div *ngFor="let consumer of consumers" style="height: 20%" class="tableRow">
                <div class="tableCell">{{consumer.nome}}</div>
                <div class="tableCell">{{consumer.bairro}}</div>
                <div class="tableCell">{{consumer.ocupacao}}</div>
                <div class="tableCellButton"><button (click)="edit(consumer.id)" class="iconButton"><mat-icon fontIcon="edit" style="font-size: 26px !important"></mat-icon></button></div>
                <div class="tableCellButton"><button (click)="delete(consumer.id)" class="iconButton"><mat-icon fontIcon="delete" style="font-size: 26px !important"></mat-icon></button></div>
            </div>
        </div>
    </div>
</section>